form {
    border: 3px solid #f1f1f1;
    width: 550px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(221, 236, 241);
    color: rgb(26, 96, 119);
}

.container {
    display: inline-block;
    text-align: left;
    width: 90%;
    margin: 5%;
}

h1 {
    font-size: 1.8em;
    margin: 50px 0 30px 0;
}

h2 {
    font-size: 1.2em;
    margin: 15px 0 30px 0;
}


input[type="text"], input[type="email"], input[type="date"] {
    padding: 12px 12px;
    margin: 15px 0 20px;
    width: 94%;
}

input[name="numero"] {
    padding: 12px 12px;
    width: 30%;
}

input[name="complemento"] {
    padding: 12px 12px;
    float: right;
    width: 55%;
}

input[name="cidade"], select[name="estado"] {
    padding: 12px 12px;
    width: 45%;
}

select[name="estado"] {
    float: right;
    margin-top: 15px;
    width: 47%;
}

button {
    padding: 15px 15px;
    width: 30%;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

@media screen and (max-width: 950px){
    form {
        width: 400px;
    }
}